node_modules
.turbo


# build outputs
.dist
dist
/build
/out/
.output/
.nitro/
.tanstack/

# deps
node_modules/
/node_modules

# env
.env*
.env.production
!.env.example
.dev.vars

# logs
logs/
*.log

# misc
.DS_Store
*.pem

# caches
.eslintcache
.cache
*.tsbuildinfo
